/* @import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css"; */

button {
  background-color: white;
  border-color: black;
  /* Other styles for your buttons (e.g., padding, border, etc.) */
}

/* Style for buttons when clicked (active state) */
button:active {
  background-color: grey;
}

.Button {
  background-color: white;
  /* Other styles for your buttons (e.g., padding, border, etc.) */
}

Button:active {
  background-color: grey;
}
